.b-h1{
	margin-bottom: 30px;
	font-size: 30px;
}
.p-b-h1{
	width: 700px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;

}
.border-create span{
	background-color:  #f8f9fa;;
	width: 100px;
	height: 100px;
	display:inline-block;
	margin-top: 10px;
	margin-left: 25px;
}
.form{
	margin-top: 40px;
}
.b-img img{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.b-img{
	padding: 50px;
}
